@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen";
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #C3BDB0;
}

.nav {
    background: #212121;
    padding: 20px 0;
}
.nav_mobile{
    display: none;
}

.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 120px;
}

.nav_list-link {
    color: #F0F0F0;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.nav_right {
    display: flex;
    gap: 50px;
}

.nav_right-link {
    position: relative;
}

.nav_right-link:nth-child(2)::after {
    content: '2';
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    background-color: #A22B4D;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #C3BDB0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background: url(../images/intro_bg.png) no-repeat center center / cover;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.intro {
    flex: 1;
    display: flex;
    align-items: center;
}

.intro_title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: #F0F0F0;
    margin-bottom: 80px;
}

.intro_btns {
    display: flex;
    gap: 30px;
}

.intro_btn {
    width: 255px;
    height: 86px;
    border: 2px solid #C3BDB0;
    cursor: pointer;
    background-color: unset;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #F0F0F0;
    transition: 0.5s;
}

.intro_btn:hover {
    background: #212121;
}

.shirt_nav {
    background: #DEDAD1;
    box-shadow: 0px 2px 12.6px 2px #00000040;
    display: flex;
    justify-content: space-between;
    height: 120px;
    transform: translateY(-50%);
}

.shirt_nav-link {
    width: calc(100%/5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #7C7C7C;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
}

.shirt_nav-link:hover {
    color: #212121;
}

.shirt_nav-link:not(:last-of-type):after {
    content: "";
    width: 2px;
    height: 37px;
    display: block;
    background-color: #212121;
    position: absolute;
    right: 0;
}

.shirt_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.shirt_card {
    width: 350px;
    height: 522px;
    background: #DEDAD1;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #212121
}

.shirt_card-heart {
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.shirt_card-sale {
    position: absolute;
    top: -50px;
    right: 15px;
    background: #212121;
    width: 48px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-40deg);
}

.shirt_card-sale span {
    transform: rotate(40deg);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
}

.shirt_card-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 9px;
    align-self: flex-start;
}

.shirt_card-text {
    align-self: flex-start;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #939393;
    margin-bottom: 18px;
}

.shirt_card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.shirt_card-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #212121;
}

.shirt_card-btn {
    padding: 16px 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #212121;
    background-color: unset;
    cursor: pointer;
    border: 2px solid #212121;
}

.catalog {
    margin: 180px 0;
}

.catalog_title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 44px;
}

.catalog_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 95px;
}

.catalog_box {
    display: flex;
    gap: 30px;
}

.catalog_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer {
    background: #141510;
    padding: 80px 0;
}
.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer_top-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #F0F0F0;
}
.footer_top-label {
    border: 1px solid #DEDAD1;
    background: #20211B;
    max-width: 545px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 7px 20px;
}

.footer_top-label input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #F0F0F0;
}
.footer_info {
    display: flex;
    justify-content: space-between;
}
.footer_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.footer_title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #F0F0F0;
}

.footer_link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #DEDAD1;
    opacity: 0.5;
    transition: 0.5s;
}
.footer_link:hover{
    opacity: 1;
}